.container {
  position: relative;
  padding: 36px 64px 19px;
  margin: 0 8px;
  background-color: var(--color-red);
  border-radius: 12px;
  color: var(--color-black);
}
.heroText1 {
  font-family: Biro Script Plus;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
}
.heroTitle {
  margin-bottom: 8px;
  font-family: Right Grotesk;
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: center;
}
.heroText2 {
  margin-bottom: 6px;
  font-family: Biro Script Plus;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
}
.heroButton {
  padding: 10px 70px 12px 70px;
  margin-bottom: 12px;
  width: 100%;

  border: none;
  border-radius: 8px;
  background-color: var(--color-grey);

  font-family: Right Grotesk;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  text-align: center;

  cursor: pointer;
}

.heroText3 {
  text-transform: uppercase;
  font-family: Messina Sans Mono;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
}

.heroButton:hover {
  color: var(--color-white);
}

.imgWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 124px 72px 123px;
    margin: 0 16px;
  }
  .heroText1 {
    font-size: 20px;
    line-height: 33px;
    text-align: left;
  }
  .heroTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 92px;
    line-height: 92px;
    text-align: left;
  }
  .heroText2 {
    font-size: 20px;
    line-height: 33px;
    text-align: left;
  }
  .imageHero {
    position: absolute;
    bottom: 0;
    left: 216px;
  }
  .heroText3 {
    position: absolute;
    width: 190px;
    right: 72px;
    bottom: 92px;
    font-size: 12px;
    line-height: 14px;
  }
  .heroButton {
    position: absolute;
    right: 72px;

    width: 190px;
    margin: 0;
    padding: 10px 61px 12px 61px;
    bottom: 35px;
    border: none;
    border-radius: 12px;

    background-color: var(--color-grey);
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    position: relative;
    padding: 197px 195px 206px;
  }
  .heroText1 {
    font-size: 24px;
    line-height: 40px;
    text-align: left;
  }
  .heroTitle {
    margin-bottom: 44px;
    font-size: 164px;
    line-height: 164px;
  }
  .heroText2 {
    font-size: 24px;
    line-height: 40px;
  }
  .imageHero {
    bottom: 0;
    left: 461px;
  }
  .heroText3 {
    width: 337px;
    right: 179px;
    bottom: 192px;
    font-size: 16px;
    line-height: 19px;
  }
  .heroButton {
    right: 192px;
    bottom: 81px;
    border-radius: 12px;
    width: 337px;

    padding: 16px 109px 20px;
    background-color: var(--color-grey);

    font-size: 28px;
    line-height: 34px;
  }
}
