:root {
  --max-width: 1440px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-main: #181818;
  --color-white: #ffffff;
  --color-white_light: rgba(255, 255, 255, 0.1);

  --color-red: #dc3b5a;
  --color-button_hover: #1e1e1e;
  --color-black: #1e1e1e;
  --color-grey: rgba(30, 30, 30, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;

  outline: none;
  border: none;
}
